<footer class="text-bg-dark">
    <div class="container py-15 px-3">
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center">
            <div>
                <img class="footer-logo" src="/assets/images/footer-logo.png" alt="footer-logo">
                <ul class="list-unstyled d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center gap-5 gap-lg-9 mb-10 mb-lg-0">
                    <li class="fw-normal">常見問題</li>
                    <li class="fw-normal">關於我們</li>
                    <li class="fw-normal">隱私權政策</li>
                    <li class="fw-normal">使用者條款</li>
                </ul>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-start align-items-lg-end">
                <div  class="mb-5">
                    <a class="me-5" href="#">
                        <img src="/assets/images/icon/btn_line.png" alt="line">
                    </a>
                    <a class="me-5" href="#">
                        <img src="/assets/images/icon/btn_yt.png" alt="YouTube">
                    </a>
                    <a class="" href="#">
                        <img src="/assets/images/icon/btn_fb.png" alt="fb">
                    </a>
                </div>
                <p>copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>