<nav class="navbar bg-white py-3 py-lg-5 fixed-top">
  <div class="container position-relative">

    <div class="d-flex align-items-center me-auto">
        <a class="navbar-brand p-0 me-7" href="index.html">
          <img src="/assets/images/logo.svg" alt="LOGO" />
        </a>
    
        <!-- PC版搜尋框 -->
        <form class="position-relative d-none d-lg-block">
          <span
            class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
          >
            search
          </span>
          <input
            type="search"
            class="form-control rounded-1 py-2 ps-10 navbar-lg-search"
            id="navbar-lg-search"
            placeholder="搜尋景點、地點或城市"
          />
        </form>
    </div>
    <!-- LOGO -->

    <!-- 搜尋框區塊 -->
    <div
      class="collapse position-absolute top-0 start-0 w-100 h-100 z-1 bg-white"
      id="collapseSearch"
    >
      <div class="container d-flex align-items-center h-100">
        <form class="position-relative flex-grow-1">
          <span
            class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
          >
            search
          </span>
          <input
            type="search"
            class="form-control rounded-1 py-2 ps-10"
            placeholder="搜尋景點、地點或城市"
          />
        </form>
        <button
          type="button"
          class="btn p-2 border-0 ms-2"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSearch"
        >
          <span class="material-icons-outlined">close</span>
        </button>
      </div>
    </div>

    <!-- 搜尋按鈕 -->
    <button
      type="button"
      class="btn p-2 border-0 d-lg-none"
      data-bs-toggle="collapse"
      data-bs-target="#collapseSearch"
    >
      <span class="material-icons-outlined"> search </span>
    </button>

    <!-- 購物車 -->
    <a href="#" class="btn border-0 py-2">
      <span class="position-relative">
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger p-0 cart-tag"
        >
          2
        </span>
        <span class="material-icons-outlined">shopping_cart</span>
      </span>
    </a>

    <!-- 登入 / 註冊 按鈕 -->
    <button type="button" class="btn btn-primary py-5 px-9 ms-5 d-none d-lg-block">登入 / 註冊</button>

    <!-- 漢堡選單 -->
    <button
      class="btn border-0 p-2 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="material-icons-outlined"> menu</span>
    </button>

    <!-- Offcanvas -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
