.banner-section {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/hero-bg.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 64px;
  @include media-breakpoint-up(lg) {
    padding-top: 212px;
  }
}

.banner-lg-search {
  width: 351px;
  padding: 8px;
  height: 64px;
  @include media-breakpoint-up(lg) {
    width: 720px;
  }
  padding-right: 7.5rem;
}

.recommend-section {
  background-color: #221F1E;
  .card {
    width: 277px;
  }
}

@media(min-width: 992px) {
  .recommend-section .card {
    width: 25%;
    max-width: 416px;
    height: 600px;
    transition: width 0.5s;

    &:hover {
      width: 100%;
    }
  }
}

@media(min-width: 992px) {
  .offset-row {
    transform: translateX(80px);
  }
}