<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>地點搜尋</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="location-section">
        <div class="container">
          <div class="d-none d-lg-block mb-lg-10">
            <!-- 麵包屑 -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">首頁</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">日本</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">關西</a></li>
                <li class="breadcrumb-item active" aria-current="page">大阪</li>
              </ol>
            </nav>
          </div>
          <!-- 標題 -->
          <h1 class="fs-3 fs-lg-1 fw-bold mb-2">大阪</h1>
          <p class="fs-8 fs-lg-7 fw-normal text-neutral-80 mb-7">大阪，一座融合傳統與現代的城市，擁有豐富的歷史文化、熱鬧的購物街區與世界知名的美食天堂。從氣派的大阪城到霓虹閃爍的道頓堀，每一處都充滿驚喜。無論是第一次造訪，還是再次回味，大阪總能用它的熱情與魅力，讓你留下難忘回憶。</p>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
